# --- Discord Configuration ---
DISCORD_TOKEN=your_token_here

# --- Google Search API ---
GOOGLE_API_KEY=your_google_api_key
GOOGLE_CSE_ID=your_search_engine_id

# --- Weather API ---
OPENWEATHER_API_KEY=your_openweather_key

# --- Database Password ---
DB_PASSWORD=password_rahasia
DB_HOST=localhost

# --- Telegram Bot Configuration ---
TELEGRAM_TOKEN="your_telegram_bot_token" # <--- Ask botfather for this
ALLOWED_USER_ID = your_telegram_user_id # <--- You can get this from @userinfobot on Telegram